body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:7px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:217px;
  width:350px;
  height:350px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:233px;
  width:315px;
  height:317px;
  display:flex;
  transition:none;
}
#u218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:317px;
}
#u218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:743px;
  width:394px;
  height:95px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:48px;
  width:162px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.17050822150826972deg);
  -moz-transform:rotate(-0.17050822150826972deg);
  -ms-transform:rotate(-0.17050822150826972deg);
  transform:rotate(-0.17050822150826972deg);
  transition:none;
}
#u220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:168px;
  height:11px;
}
#u220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:162px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.17050822150826972deg);
  -moz-transform:rotate(-0.17050822150826972deg);
  -ms-transform:rotate(-0.17050822150826972deg);
  transform:rotate(-0.17050822150826972deg);
  transition:none;
}
#u221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:168px;
  height:11px;
}
#u221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:65px;
  width:32px;
  height:30px;
  display:flex;
  transition:none;
}
#u222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:65px;
  width:32px;
  height:30px;
  display:flex;
  transition:none;
}
#u223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:65px;
  width:24px;
  height:30px;
  display:flex;
  transition:none;
}
#u224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
}
#u226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:16px;
  width:50px;
  height:48px;
  display:flex;
  transition:none;
}
#u227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:65px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:130px;
  height:130px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
  display:flex;
  transition:none;
}
#u230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:395px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.035270077448513834deg);
  -moz-transform:rotate(-0.035270077448513834deg);
  -ms-transform:rotate(-0.035270077448513834deg);
  transform:rotate(-0.035270077448513834deg);
  transition:none;
}
#u231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:401px;
  height:11px;
}
#u231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Rockwell Negrita", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#008CFF;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:7px;
  width:101px;
  height:57px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Rockwell Negrita", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#008CFF;
}
#u232 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Rockwell Negrita", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#008CFF;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:78px;
  width:201px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Rockwell Negrita", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#008CFF;
}
#u233 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:588px;
  width:395px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.035270077448513834deg);
  -moz-transform:rotate(-0.035270077448513834deg);
  -ms-transform:rotate(-0.035270077448513834deg);
  transform:rotate(-0.035270077448513834deg);
  transition:none;
}
#u234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:401px;
  height:11px;
}
#u234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Rockwell Negrita", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#008CFF;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:604px;
  width:241px;
  height:39px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Rockwell Negrita", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#008CFF;
}
#u235 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u235_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#004D8D;
  text-align:center;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:650px;
  width:341px;
  height:71px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#004D8D;
  text-align:center;
}
#u236 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:191px;
  width:395px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.035270077448513834deg);
  -moz-transform:rotate(-0.035270077448513834deg);
  -ms-transform:rotate(-0.035270077448513834deg);
  transform:rotate(-0.035270077448513834deg);
  transition:none;
}
#u237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:401px;
  height:11px;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:140px;
  width:50px;
  height:43px;
  display:flex;
  transition:none;
}
#u238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:43px;
}
#u238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:159px;
  width:67px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(90.26916592037223deg);
  -moz-transform:rotate(90.26916592037223deg);
  -ms-transform:rotate(90.26916592037223deg);
  transform:rotate(90.26916592037223deg);
  transition:none;
}
#u239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:73px;
  height:11px;
}
#u239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:159px;
  width:67px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(90.26916592037223deg);
  -moz-transform:rotate(90.26916592037223deg);
  -ms-transform:rotate(90.26916592037223deg);
  transform:rotate(90.26916592037223deg);
  transition:none;
}
#u240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:73px;
  height:11px;
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
