body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:98px;
  width:392px;
  height:249px;
  display:flex;
  transition:none;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:249px;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Rockwell Negrita Cursiva", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:50px;
  text-align:center;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:354px;
  width:327px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Rockwell Negrita Cursiva", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:50px;
  text-align:center;
}
#u67 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Rockwell Negrita Cursiva", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:50px;
  color:#008CFF;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:8px;
  width:209px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Rockwell Negrita Cursiva", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:50px;
  color:#008CFF;
}
#u68 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:395px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.035270077448513834deg);
  -moz-transform:rotate(-0.035270077448513834deg);
  -ms-transform:rotate(-0.035270077448513834deg);
  transform:rotate(-0.035270077448513834deg);
  transition:none;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:401px;
  height:11px;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:12px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:743px;
  width:394px;
  height:95px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:48px;
  width:162px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.17050822150826972deg);
  -moz-transform:rotate(-0.17050822150826972deg);
  -ms-transform:rotate(-0.17050822150826972deg);
  transform:rotate(-0.17050822150826972deg);
  transition:none;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:168px;
  height:11px;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:162px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.17050822150826972deg);
  -moz-transform:rotate(-0.17050822150826972deg);
  -ms-transform:rotate(-0.17050822150826972deg);
  transform:rotate(-0.17050822150826972deg);
  transition:none;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:168px;
  height:11px;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:65px;
  width:32px;
  height:30px;
  display:flex;
  transition:none;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:65px;
  width:32px;
  height:30px;
  display:flex;
  transition:none;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:65px;
  width:24px;
  height:30px;
  display:flex;
  transition:none;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:16px;
  width:50px;
  height:48px;
  display:flex;
  transition:none;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:65px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:289px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 77, 141, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:424px;
  width:328px;
  height:289px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 77, 141, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:441px;
  width:264px;
  height:57px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 77, 141, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:511px;
  width:264px;
  height:57px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 77, 141, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:587px;
  width:264px;
  height:57px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Rockwell Negrita Cursiva", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:21px;
  color:#008CFF;
  text-align:center;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:657px;
  width:163px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Rockwell Negrita Cursiva", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:21px;
  color:#008CFF;
  text-align:center;
}
#u86 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:673px;
  width:54px;
  height:21px;
  display:flex;
  transition:none;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:680px;
  width:105px;
  height:7px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:113px;
  height:15px;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:454px;
  width:96px;
  height:32px;
  display:flex;
  transition:none;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:32px;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:512px;
  width:146px;
  height:55px;
  display:flex;
  transition:none;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:55px;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:593px;
  width:113px;
  height:45px;
  display:flex;
  transition:none;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:45px;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
