body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:714px;
  padding:2px 2px 2px 2px;
  font-family:"Rockwell Normal", "Rockwell", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  letter-spacing:normal;
  color:#F25D2D;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:714px;
  padding:2px 2px 2px 2px;
  font-family:"Rockwell Normal", "Rockwell", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  letter-spacing:normal;
  color:#F25D2D;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:714px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:393px;
  height:714px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u78 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:714px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u78.disabled {
}
.u78_input_option {
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:743px;
  width:394px;
  height:95px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:48px;
  width:162px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.17050822150826972deg);
  -moz-transform:rotate(-0.17050822150826972deg);
  -ms-transform:rotate(-0.17050822150826972deg);
  transform:rotate(-0.17050822150826972deg);
  transition:none;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:168px;
  height:11px;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:162px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.17050822150826972deg);
  -moz-transform:rotate(-0.17050822150826972deg);
  -ms-transform:rotate(-0.17050822150826972deg);
  transform:rotate(-0.17050822150826972deg);
  transition:none;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:168px;
  height:11px;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:65px;
  width:32px;
  height:30px;
  display:flex;
  transition:none;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:65px;
  width:32px;
  height:30px;
  display:flex;
  transition:none;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:65px;
  width:24px;
  height:30px;
  display:flex;
  transition:none;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:16px;
  width:50px;
  height:48px;
  display:flex;
  transition:none;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:65px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:721px;
  width:53px;
  height:53px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
  display:flex;
  transition:none;
  color:#000000;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:13px;
  width:26px;
  height:27px;
  display:flex;
  transition:none;
  color:#004D8D;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:395px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.035270077448513834deg);
  -moz-transform:rotate(-0.035270077448513834deg);
  -ms-transform:rotate(-0.035270077448513834deg);
  transform:rotate(-0.035270077448513834deg);
  transition:none;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:401px;
  height:11px;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Rockwell Negrita", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#F25D2D;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:8px;
  width:208px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Rockwell Negrita", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#F25D2D;
}
#u95 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:61px;
  width:206px;
  height:5px;
  display:flex;
  transition:none;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:212px;
  height:11px;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:21px;
  width:41px;
  height:35px;
  display:flex;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
  transition:none;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:35px;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
