body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:714px;
  padding:2px 2px 2px 2px;
  font-family:"Rockwell Normal", "Rockwell", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  letter-spacing:normal;
  color:#008CFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u179_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:714px;
  padding:2px 2px 2px 2px;
  font-family:"Rockwell Normal", "Rockwell", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  letter-spacing:normal;
  color:#008CFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:714px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:393px;
  height:714px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u179 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u179_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:714px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u179.disabled {
}
.u179_input_option {
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:743px;
  width:394px;
  height:95px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:48px;
  width:162px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.17050822150826972deg);
  -moz-transform:rotate(-0.17050822150826972deg);
  -ms-transform:rotate(-0.17050822150826972deg);
  transform:rotate(-0.17050822150826972deg);
  transition:none;
}
#u181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:168px;
  height:11px;
}
#u181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:162px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.17050822150826972deg);
  -moz-transform:rotate(-0.17050822150826972deg);
  -ms-transform:rotate(-0.17050822150826972deg);
  transform:rotate(-0.17050822150826972deg);
  transition:none;
}
#u182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:168px;
  height:11px;
}
#u182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:65px;
  width:32px;
  height:30px;
  display:flex;
  transition:none;
}
#u183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:65px;
  width:32px;
  height:30px;
  display:flex;
  transition:none;
}
#u184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:65px;
  width:24px;
  height:30px;
  display:flex;
  transition:none;
}
#u185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
}
#u187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:16px;
  width:50px;
  height:48px;
  display:flex;
  transition:none;
}
#u188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:65px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:721px;
  width:53px;
  height:53px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
  display:flex;
  transition:none;
  color:#000000;
}
#u192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:13px;
  width:26px;
  height:27px;
  display:flex;
  transition:none;
  color:#004D8D;
}
#u193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:395px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.035270077448513834deg);
  -moz-transform:rotate(-0.035270077448513834deg);
  -ms-transform:rotate(-0.035270077448513834deg);
  transform:rotate(-0.035270077448513834deg);
  transition:none;
}
#u194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:401px;
  height:11px;
}
#u194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Rockwell Negrita", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#004D8D;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:8px;
  width:148px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Rockwell Negrita", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#004D8D;
}
#u196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:61px;
  width:146px;
  height:5px;
  display:flex;
  transition:none;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:152px;
  height:11px;
}
#u197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:19px;
  width:45px;
  height:42px;
  display:flex;
  -webkit-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  transform:rotate(7deg);
  transition:none;
}
#u198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:42px;
}
#u198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
