body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:714px;
  padding:2px 2px 2px 2px;
  font-family:"Rockwell Normal", "Rockwell", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  letter-spacing:normal;
  color:#008CFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u223_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:714px;
  padding:2px 2px 2px 2px;
  font-family:"Rockwell Normal", "Rockwell", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:50px;
  letter-spacing:normal;
  color:#008CFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:714px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:393px;
  height:714px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u223 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u223_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:714px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u223.disabled {
}
.u223_input_option {
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:743px;
  width:394px;
  height:95px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:48px;
  width:162px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.17050822150826972deg);
  -moz-transform:rotate(-0.17050822150826972deg);
  -ms-transform:rotate(-0.17050822150826972deg);
  transform:rotate(-0.17050822150826972deg);
  transition:none;
}
#u225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:168px;
  height:11px;
}
#u225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:162px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.17050822150826972deg);
  -moz-transform:rotate(-0.17050822150826972deg);
  -ms-transform:rotate(-0.17050822150826972deg);
  transform:rotate(-0.17050822150826972deg);
  transition:none;
}
#u226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:168px;
  height:11px;
}
#u226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:65px;
  width:32px;
  height:30px;
  display:flex;
  transition:none;
}
#u227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:65px;
  width:32px;
  height:30px;
  display:flex;
  transition:none;
}
#u228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:65px;
  width:24px;
  height:30px;
  display:flex;
  transition:none;
}
#u229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:0px;
  width:80px;
  height:80px;
  display:flex;
  transition:none;
}
#u231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:16px;
  width:50px;
  height:48px;
  display:flex;
  transition:none;
}
#u232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:48px;
}
#u232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:65px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:721px;
  width:53px;
  height:53px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
  display:flex;
  transition:none;
  color:#000000;
}
#u236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:13px;
  width:26px;
  height:27px;
  display:flex;
  transition:none;
  color:#004D8D;
}
#u237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:395px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-0.035270077448513834deg);
  -moz-transform:rotate(-0.035270077448513834deg);
  -ms-transform:rotate(-0.035270077448513834deg);
  transform:rotate(-0.035270077448513834deg);
  transition:none;
}
#u238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:401px;
  height:11px;
}
#u238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Rockwell Negrita", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#004D8D;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:8px;
  width:148px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Rockwell Negrita", "Rockwell Normal", "Rockwell", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#004D8D;
}
#u240 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:61px;
  width:146px;
  height:5px;
  display:flex;
  transition:none;
}
#u241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:152px;
  height:11px;
}
#u241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:19px;
  width:45px;
  height:42px;
  display:flex;
  -webkit-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  transform:rotate(7deg);
  transition:none;
}
#u242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:42px;
}
#u242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
